site-packages/
*.png
*.lsf
*_Log*
*.dds
Scripts/build
Scripts/dist
Scripts/__pycache__
Scripts/_Data_Characters/
Scripts/_Data_RootTemplates/
Scripts/_Data*
Scripts/WorkshopData/
Scripts/Generated*
Generated/
OsirisExtenderTools/
*.spec
*.dll
*.txt
*.bat
*.jpg
